@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



/* Add this to your existing styles or a custom stylesheet */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* You can adjust the width as needed */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #48cae4; /* Set your desired color */
  border-radius: 4px; /* Optional: Add rounded corners to the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #003566; /* Set the background color of the scrollbar track */
}

/* #home{
  height: 100%;

  background-image: url('https://d1m75rqqgidzqn.cloudfront.net/wp-data/2020/09/09202218/iStock-1207062970.jpg');
} */
